<template>
    <v-container grid-list-xl>
        <h2 class="pl-4">
            <span>Android</span>
            <span class="green--text">Portfolio</span>
        </h2>
        <v-layout row justify-center align-center wrap class="mt-4 pt-2">
            <v-dialog
                v-model="project.dialog"
                lazy
                max-width="1000"
                v-for="project in projects"
                :key="project.title"
            >
                <template v-slot:activator="{ on }">
                    <v-flex xs12 sm6 md4 lg4 xl4 v-on="on">
                        <v-card hover flat color="transparent">
                            <v-img
                                :src="project.poster"
                                :alt="project.title"
                                height="230"
                            >
                                <template v-slot:placeholder>
                                    <v-img :src="$loading" height="200"></v-img>
                                </template>
                            </v-img>
                            <v-card-title primary-title class="justify-center">{{project.title}}</v-card-title>
                        </v-card>
                    </v-flex>
                </template>
                <v-card v-if="project.dialog">
                    <v-img :src="project.poster"></v-img>
                    <v-card-text>
                        <h3 class="headline mb-0">
                            <span>Technology</span>
                        </h3>
                        <v-chip color="green" text-color="white">{{project.tech.tech1}}</v-chip>
                        <v-chip color="green" text-color="white">{{project.tech.tech2}}</v-chip>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
export default {
  metaInfo: {
    title: 'Android Portfolio',
    titleTemplate: "%s ← Mauludin Profile",
    meta: [
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      {
        name: 'description',
        content:
          "Si Doku Sistem pelayanan dokumen"
      },
      { charset: 'utf-8' },
      { property: 'og:title', content: "Mauludin Profile" },
      { property: 'og:site_name', content: "Mauludin Profile" },
      { property: 'og:type', content: 'website' },
      { property: 'og:url', content: 'https://mauludin.gitlab.io' },
      {
        property: 'og:image',
        content: './assets/img/bg.png'
      },
      {
        property: 'og:description',
        content:
          "Si Doku Sistem pelayanan dokumen"
      }
    ]
  },
  data () {
    return {
      dialog: false,
      projects: [
        {
          dialog: false,
          title: 'Si Doku - Sistem Pelayanan Dokumen',
          tech: {
            tech1: 'Kotlin',
            tech2: 'Android Studio'
          },
          poster: 'https://drive.google.com/uc?id=1HRrvmdzlMlsbvLSVtEXtcNlRPNUDYRun'
        },
      ]
    }
  }
}
</script>

<style  scoped>
</style>
