<template>
    <v-container grid-list-xl>
        <h2 class="pl-4">
        <span>Website</span>
        <span class="green--text">Portfolio</span>
        </h2>
        <v-layout row justify-center align-center wrap class="mt-4 pt-2">
            <v-dialog
                v-model="project.dialog"
                lazy
                max-width="1000"
                v-for="project in sortedProject"
                :key="project.title"
            >
                <template v-slot:activator="{ on }">
                    <v-flex xs12 sm6 md4 lg4 xl4 v-on="on">
                        <v-card hover flat color="transparent">
                        <v-img
                            :src="project.poster"
                            :alt="project.title"
                            height="230"
                        >
                            <template v-slot:placeholder>
                                <v-img :src="$loading" height="200"></v-img>
                            </template>
                        </v-img>
                        <v-card-title primary-title class="justify-center">{{project.title}}</v-card-title>
                        </v-card>
                    </v-flex>
                </template>
                <v-card v-if="project.dialog">
                    <v-img :src="project.poster"></v-img>
                    <v-card-text>
                        <h3 class="headline mb-0">
                        <span>Technology</span>
                        </h3>
                        <v-chip color="green" text-color="white">{{project.tech.tech1}}</v-chip>
                        <v-chip color="green" text-color="white">{{project.tech.tech2}}</v-chip>
                        <v-chip color="green" text-color="white">{{project.tech.tech3}}</v-chip>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        metaInfo: {
            title: 'Website Portfolio',
            titleTemplate: "%s ← Mauludin Profile",
            meta: [
            { name: 'viewport', content: 'width=device-width, initial-scale=1' },
            {
                name: 'description',
                content:
                "Sistem Kelola Gaji Sistem Pelayanan Dokumen Sistem Perencanaan Produksi, Penjualan, Absensi, dan Gaji Karyawan Sistem Perencanaan Produksi dan Pembangunan Sistem Alarm Harga Crytocurrency Sistem Perencanaan Pembelian Crytocurrency Sistem Penyimpanan Data Mobile Game Sistem Pencatatan Kontrak Pembelian dan Penjualan Sistem Pencatatan Jasa Pengiriman Kargo Sistem Pencatatan Pengiriman Barang dan Penggajian Sistem Penjualan Produk Digital Sistem Pencatatan Pembayaran Siswa Sistem Kombinasi Gambar NFT Sistem Perencanaan Persewaan Jaringan Fiber Optik Sistem Perencanaan Pembelian dan Penjualan Barang Sistem Tour Ruangan Virtual Dalam Bentuk 360 Sistem Pelacakan GPS Truk Sistem Perencanaan Produksi Sistem Perencanaan Produksi dan Pengiriman Sistem Pendaftaran Peserta Didik Baru Sistem Klaim Garansi Kaca Mobil Sistem Pembuatan Resi dan Pelacakan Pengiriman Sistem Tracking Rekrut Member Sistem Pendaftaran Order Cryptocurrency"
            },
            { charset: 'utf-8' },
            { property: 'og:title', content: "Mauludin Profile" },
            { property: 'og:site_name', content: "Mauludin Profile" },
            { property: 'og:type', content: 'website' },
            { property: 'og:url', content: 'https://mauludin.gitlab.io' },
            {
                property: 'og:image',
                content: './assets/img/bg.png'
            },
            {
                property: 'og:description',
                content:
                "Sistem Kelola Gaji Sistem Pelayanan Dokumen Sistem Perencanaan Produksi, Penjualan, Absensi, dan Gaji Karyawan Sistem Perencanaan Produksi dan Pembangunan Sistem Alarm Harga Crytocurrency Sistem Perencanaan Pembelian Crytocurrency Sistem Penyimpanan Data Mobile Game Sistem Pencatatan Kontrak Pembelian dan Penjualan Sistem Pencatatan Jasa Pengiriman Kargo Sistem Pencatatan Pengiriman Barang dan Penggajian Sistem Penjualan Produk Digital Sistem Pencatatan Pembayaran Siswa Sistem Kombinasi Gambar NFT Sistem Perencanaan Persewaan Jaringan Fiber Optik Sistem Perencanaan Pembelian dan Penjualan Barang Sistem Tour Ruangan Virtual Dalam Bentuk 360 Sistem Pelacakan GPS Truk Sistem Perencanaan Produksi Sistem Perencanaan Produksi dan Pengiriman Sistem Pendaftaran Peserta Didik Baru Sistem Klaim Garansi Kaca Mobil Sistem Pembuatan Resi dan Pelacakan Pengiriman Sistem Tracking Rekrut Member Sistem Pendaftaran Order Cryptocurrency"
            }
            ]
        },
        data () {
            return {
                dialog: false,
                projects: [
                    {
                        dialog: false,
                        title: 'Sistem Kelola Gaji',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1WRbkCio8uCOYpuB4iHFxA0TX2c04NpnQ',
                        created: '2019-11-13'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Pelayanan Dokumen',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1ejNE8KzbJl4UWRpyKVgN0eAA1dkMy4zw',
                        created: '2020-02-14'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Perencanaan Produksi, Penjualan, Absensi, dan Gaji Karyawan',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1JN2g2WRiAL-JQiIVT_zY8iRqup-pGWax',
                        created: '2019-11-27'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Perencanaan Produksi dan Pembangunan',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'AngularJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=17sOQ5Mt1F_ybBwnXtxYuVJchz4MLqvDR',
                        created: '2018-10-22'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Alarm Harga Crytocurrency',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1iOpfYq12avpgsNlXHuZnt--v4i_4jgqS',
                        created: '2021-06-12'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Perencanaan Pembelian Crytocurrency',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1tM5zZserl-2cUmtozDKQh4o5FhwxGHRO',
                        created: '2022-03-23'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Penyimpanan Data Mobile Game',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1jA0Xgv2kByFHelcYwqeVh5h-WfNa_FoS',
                        created: '2022-01-03'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Pencatatan Kontrak Pembelian dan Penjualan',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1ar0j7jldv-c2WiLXNf9oX_X8R9v1_1zp',
                        created: '2020-01-23'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Pencatatan Jasa Pengiriman Kargo',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=19LB1pT33u83AaDSAEX0yosSmCkgcito6',
                        created: '2019-08-28'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Pencatatan Pengiriman Barang dan Penggajian',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=16zbxqdy2j6LcydJjjzKjIT2afsVFSXWh',
                        created: '2020-07-17'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Penjualan Produk Digital',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1Ug2UvCRNIKJf-G6rDi8CEpqi4xgo7TJU',
                        created: '2022-03-06'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Pencatatan Pembayaran Siswa',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1fxV7fVsjmvYjoKL7WHs6yMRftUDrbaR3',
                        created: '2020-07-27'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Kombinasi Gambar NFT',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1wYlN1ijCM3CAac6ctkdTesD9coN6-jUv',
                        created: '2021-08-18'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Perencanaan Persewaan Jaringan Fiber Optik',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1Y4PZf_KElhoH_9oKzuTXwhLGbTOsIsjn',
                        created: '2021-11-09'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Perencanaan Pembelian dan Penjualan Barang',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1Q_WhnPbdaePa_w6V6m92LE_uF9qKLeVv',
                        created: '2021-02-22'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Tour Ruangan Virtual Dalam Bentuk 360',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1JjY89S_c-P_kQjuZABv45iJLzDNZLb4h',
                        created: '2021-01-21'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Pelacakan GPS Truk',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1T28NnQpRX_lv8lnB_C1xUS_r5-YPPUeN',
                        created: '2020-03-10'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Perencanaan Produksi',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'AngularJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1yWzUHTdhsoMuPCMVbsuAUDksMDpbEa2z',
                        created: '2015-12-21'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Perencanaan Produksi dan Pengiriman',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'AngularJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1qosEMcLvwLMuWbaBf-rcbrDw0w4fgR28',
                        created: '2016-08-19'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Pendaftaran Peserta Didik Baru',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1BpBQ9LP_WOHkr1cG70jXLl7Ef35adNE8',
                        created: '2020-03-12'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Klaim Garansi Kaca Mobil',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'AngularJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=16_N4sUmbPAH9zNSGfXUy808u8vmQ4siw',
                        created: '2018-10-05'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Pembuatan Resi dan Pelacakan Pengiriman',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'AngularJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1A0tWJ3DnKgh4GGuChB08J90nJHyFNOc-',
                        created: '2019-02-19'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Tracking Rekrut Member',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'AngularJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1mbyBBot2b6ePQTyJ-IMoy7SRqQa3Texg',
                        created: '2019-06-18'
                    },
                    {
                        dialog: false,
                        title: 'Sistem Pendaftaran Order Cryptocurrency',
                        tech: {
                            tech1: 'PHP',
                            tech2: 'Laravel',
                            tech2: 'VueJS',
                            tech3: 'AdminLTE'
                        },
                        poster: 'https://drive.google.com/uc?id=1n_Yl2SS3kmMdqXl9p-IoWOoBd6FkZuB2',
                        created: '2019-07-12'
                    },
                ]
            }
        },
        computed: {
            sortedProject: function() {
                var vm = this;

                return vm.$_.sortBy(vm.projects, 'created').reverse();
            }
        }
    }
</script>

<style  scoped>
</style>
