<template>
    <v-container grid-list-xl>
        <v-layout row justify-center align-center wrap class="mt-4 pt-2">
            <!-- --- Certificate -->
            <v-flex xs12 sm12 md12 lg12 xl12>
                <h2 class="pl-4">
                    <span>Our</span>
                    <span class="green--text">Certificate</span>
                </h2>
            </v-flex>
            <v-flex v-for="certificate in certificate" :key="certificate.title" xs12 sm12 md4 lg4 xl4>
                <v-card
                :to="certificate.route"
                hover
                flat
                color="transparent"
                height="230"
                >
                    <v-card-title></v-card-title>
                    <v-img :src="certificate.src" aspect-ratio="2.75" height="130" contain></v-img>
                    <v-card-title primary-title class="justify-center">
                        <v-flex text-xs-center subheading font-weight-bold>{{certificate.title}}</v-flex>
                    </v-card-title>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    metaInfo: {
        title: 'Certificate',
        titleTemplate: "%s ← Mauludin Profile",
        meta: [
            { name: 'viewport', content: 'width=device-width, initial-scale=1' },
            {
                name: 'description',
                content:
                "SoftSkills Competence Research Achievement"
            },
            { charset: 'utf-8' },
            { property: 'og:title', content: "Mauludin Profile" },
            { property: 'og:site_name', content: "Mauludin Profile" },
            { property: 'og:type', content: 'website' },
            { property: 'og:url', content: 'https://mauludin.gitlab.io' },
            {
                property: 'og:image',
                content: './assets/img/bg.png'
            },
            {
                property: 'og:description',
                content:
                "SoftSkills Competence Research Achievement"
            }
        ]
    },
    data () {
        return {
            certificate: [
                {
                    src: './assets/icon/statistics.png',
                    title: 'SoftSkills',
                    route: 'certificate/softskills'
                },
                {
                    src: './assets/icon/handshake.png',
                    title: 'Competence',
                    route: 'certificate/competence'
                },
                {
                    src: './assets/icon/research.png',
                    title: 'Research',
                    route: 'certificate/research'
                },
                {
                    src: './assets/icon/achievement.png',
                    title: 'Achievement',
                    route: 'certificate/achievement'
                },
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
</style>
