<template>
    <v-container grid-list-xl>
        <v-layout row justify-center wrap class="mt-4 pt-2">
            <v-flex xs12 sm12 md6 lg6 xl6>
                <h2 class="pb-4 mb-4">
                <span>Contact</span>
                <span class="green--text">Form</span>
                </h2>

                <form method="POST" action="https://formspree.io/f/xknyyeqq">
                <v-text-field
                    name="name"
                    color="green"
                    background-color="transparent"
                    v-model="name"
                    :error-messages="nameErrors"
                    label="Name"
                    required
                    @blur="$v.name.$touch()"
                ></v-text-field>
                <v-text-field
                    type="email"
                    color="green"
                    background-color="transparent"
                    name="email"
                    v-model="email"
                    :error-messages="emailErrors"
                    label="E-mail"
                    required
                    @blur="$v.email.$touch()"
                ></v-text-field>
                <v-textarea
                    color="green"
                    background-color="transparent"
                    :counter="200"
                    :error-messages="bodyErrors"
                    v-model="body"
                    label="Textarea"
                    name="body"
                    @blur="$v.body.$touch()"
                ></v-textarea>
                <v-btn
                    @click="submit"
                    type="submit"
                    color="green"
                    class="white--text"
                    :disabled=" (body.length<=20)"
                >SEND MESSAGE</v-btn>
                <v-btn @click="clear">clear</v-btn>
                </form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import { validationMixin } from 'vuelidate'
    import {
        required,
        maxLength,
        email,
        minLength
    } from 'vuelidate/lib/validators'
    export default {
        metaInfo: {
            title: 'Contact',
            titleTemplate: "%s ← Mauludin Profile",
            meta: [
            { name: 'viewport', content: 'width=device-width, initial-scale=1' },
            {
                name: 'description',
                content:
                "Mohammad Mauludin Portfolio Web Developer Web Designer Contact"
            },
            { charset: 'utf-8' },
            { property: 'og:title', content: "Mauludin Profile" },
            { property: 'og:site_name', content: "Mauludin Profile" },
            { property: 'og:type', content: 'website' },
            { property: 'og:url', content: 'https://mauludin.gitlab.io' },
            {
                property: 'og:image',
                content: './assets/img/bg.png'
            },
            {
                property: 'og:description',
                content:
                "Mohammad Mauludin Portfolio Web Developer Web Designer Contact"
            }
            ]
        },
        mixins: [validationMixin],
        validations: {
            name: { required, maxLength: maxLength(20) },
            email: { required, email },
            body: { required, minLength: minLength(20) }
        },
        data () {
            return {
            name: '',
            email: '',
            body: ''
            }
        },
        methods: {
            submit () {
            this.$v.$touch()
            },
            clear () {
            this.$v.$reset()
            this.name = ''
            this.email = ''
            this.body = ''
            }
        },
        computed: {
            nameErrors () {
                const errors = []
                if (!this.$v.name.$dirty) return errors
                !this.$v.name.maxLength &&
                    errors.push('Name must be at most 20 characters long')
                !this.$v.name.required && errors.push('Name is required.')
                return errors
            },
            emailErrors () {
                const errors = []
                if (!this.$v.email.$dirty) return errors
                !this.$v.email.email && errors.push('Must be valid e-mail')
                !this.$v.email.required && errors.push('E-mail is required')
                return errors
            },
            bodyErrors () {
                const errors = []
                if (!this.$v.body.$dirty) return errors
                !this.$v.body.minLength &&
                    errors.push('Text must be at least 20 characters long')
                !this.$v.body.required && errors.push('Text is required')
                return errors
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>
