<template>
    <v-layout column justify-center align-center class="mt-4 pt-2">
        <div v-if="!dark">
            <VueCompareImage
                class="hidden-md-and-down"
                hover
                :style="{ width: '400px', height: '400px' }"
                :sliderLineWidth="sliderLine"
                :handleSize="hSize"
                :leftImage="leftImage"
                :rightImage="rightImage"
                :sliderPositionPercentage="sliderPosition"
            />
            <VueCompareImage
                class="hidden-lg-and-up"
                hover
                :style="{ width: '300px', height: '300px' }"
                :sliderLineWidth="sliderLine"
                :handleSize="hSize"
                :leftImage="leftImage"
                :rightImage="rightImage"
                :sliderPositionPercentage="sliderPosition"
            />
        </div>
        <div v-if="dark">
            <VueCompareImage
                class="hidden-md-and-down"
                hover
                :style="{ width: '400px', height: '400px' }"
                :sliderLineWidth="sliderLine"
                :handleSize="hSize"
                :leftImage="leftDarkImage"
                :rightImage="rightDarkImage"
                :sliderPositionPercentage="sliderPosition"
            />
            <VueCompareImage
                class="hidden-lg-and-up"
                hover
                :style="{ width: '300px', height: '300px' }"
                :sliderLineWidth="sliderLine"
                :handleSize="hSize"
                :leftImage="leftDarkImage"
                :rightImage="rightDarkImage"
                :sliderPositionPercentage="sliderPosition"
            />
        </div>
        <br>
        <vue-typer class="headline" :repeat="0" text="Mohammad Mauludin" :class="{'vue-typer-dark': dark}"></vue-typer>
        <vue-typer
            :text="text1"
            :repeat="Infinity"
            :shuffle="false"
            initial-action="erasing"
            :pre-type-delay="70"
            :type-delay="70"
            :pre-erase-delay="1980"
            :erase-delay="150"
            erase-style="select-back"
            :erase-on-complete="false"
            caret-animation="smooth"
            :class="{'vue-typer-dark': dark}"
        ></vue-typer>
        <br>
        <v-flex xs12 sm6 md4 lg4 xl4>
            <v-card flat color="transparent" max-width="500">
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">
                            <span>About</span>
                            <span class="green--text"> Me</span>
                        </h3>
                        <div>
                            <p>
                                Hai! Perkenalkan saya seorang
                                <span
                                    class="green--text font-weight-bold"
                                    >Pengembang Aplikasi</span>. Awal perjalanan saya dimulai dari
                                <span
                                    class="green--text font-weight-bold"
                                    >IT Support</span> hingga menjadi <span
                                    class="green--text font-weight-bold"
                                >Senior Website Developer</span>
                            </p>
                        </div>
                    </div>
                </v-card-title>

                <v-card-actions class="hidden-sm-and-down">
                    <v-btn
                        v-for="icon in icons"
                        :key="icon.icon"
                        fab
                        dark
                        outline
                        color="green"
                        :href="icon.href"
                        target="_blank"
                    >
                        <v-icon dark>{{icon.icon}}</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    import { VueTyper } from 'vue-typer'
    import VueCompareImage from 'vue-compare-image'

    export default {
        metaInfo: {
            title: 'Home',
            titleTemplate: '%s ← Mauludin Profile',
            meta: [
                { name: 'viewport', content: 'width=device-width, initial-scale=1' },
                {
                    name: 'description',
                    content: 'Mohammad Mauludin Senior Web Developer Hardware Development IT Support Belajar Fast Learning Android Developer'
                },
                { charset: 'utf-8' },
                { property: 'og:title', content: 'Mauludin Profile' },
                { property: 'og:site_name', content: 'Mauludin Profile' },
                { property: 'og:type', content: 'website' },
                { property: 'og:url', content: 'https://mauludin.gitlab.io' },
                {
                    property: 'og:image',
                    content: './assets/img/bg.png'
                },
                {
                    property: 'og:description',
                    content: 'Mohammad Mauludin Senior Web Developer Hardware Development IT Support Belajar Fast Learning'
                }
            ]
        },
        components: {
            'vue-typer': VueTyper,
            VueCompareImage
        },
        props: ['dark'],
        data () {
            return {
                icons: [
                    { href: 'https://gitlab.com/mauludin', icon: 'fab fa-gitlab' },
                    {
                    href: 'https://www.linkedin.com/in/mohammad-mauludin',
                    icon: 'fab fa-linkedin-in'
                    },
                    { href: 'https://www.instagram.com/_mldin', icon: 'fab fa-instagram' }
                ],
                text1: ['Website Developer', 'Android Developer'],
                leftImage: './assets/img/bg.png',
                rightImage: './assets/img/no-bg.png',
                leftDarkImage: './assets/img/bg-dark.png',
                rightDarkImage: './assets/img/no-bg-dark.png',
                sliderLine: 0,
                hSize: 0,
                sliderPosition: 0.5
            }
        }
    }
</script>
<style>
@keyframes rocking {
  0%,
  100% {
    transform: rotateZ(-10deg);
  }

  50% {
    transform: rotateZ(10deg);
  }
}

.vue-typer {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.vue-typer .custom.char.typed {
  color: green;
}
.vue-typer .custom.char.selected {
  color: #e91e63;
}

.vue-typer .custom.caret {
  animation: rocking 1s ease-in-out 0s infinite;
}
.vue-typer .custom.caret.typing {
  background-color: green;
}
.vue-typer .custom.caret.selecting {
  display: inline-block;
  background-color: #e91e63;
}

.vue-typer-dark {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.vue-typer-dark .custom.char.typed {
  color: rgb(255, 255, 255);
}
.vue-typer-dark .custom.char.selected {
  color: #e91e63;
}

.vue-typer-dark .custom.caret {
  animation: rocking 1s ease-in-out 0s infinite;
}
.vue-typer-dark .custom.caret.typing {
  background-color: rgb(255, 255, 255);
}
.vue-typer-dark .custom.caret.selecting {
  display: inline-block;
  background-color: #e91e63;
}
</style>
