<template>
    <v-container grid-list-xl>
        <v-layout row justify-center align-center wrap class="mt-4 pt-2">
            <!-- --- Project -->
            <v-flex xs12 sm12 md12 lg12 xl12>
                <h2 class="pl-4">
                    <span>Our</span>
                    <span class="green--text">Project</span>
                </h2>
            </v-flex>
            <v-flex v-for="portfolio in portfolios" :key="portfolio.title" xs12 sm12 md4 lg4 xl4>
                <v-card
                :to="portfolio.route"
                hover
                flat
                color="transparent"
                height="230"
                >
                <v-card-title></v-card-title>
                <v-img :src="portfolio.src" aspect-ratio="2.75" height="130" contain></v-img>
                <v-card-title primary-title class="justify-center">
                    <v-flex text-xs-center subheading font-weight-bold>{{portfolio.title}}</v-flex>
                </v-card-title>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    metaInfo: {
        title: 'Portfolio',
        titleTemplate: "%s ← Mauludin Profile",
        meta: [
            { name: 'viewport', content: 'width=device-width, initial-scale=1' },
            {
                name: 'description',
                content:
                "Mohammad Mauludin Portfolio Web Developer Web Designer Website Android"
            },
            { charset: 'utf-8' },
            { property: 'og:title', content: "Mauludin Profile" },
            { property: 'og:site_name', content: "Mauludin Profile" },
            { property: 'og:type', content: 'website' },
            { property: 'og:url', content: 'https://mauludin.gitlab.io' },
            {
                property: 'og:image',
                content: './assets/img/bg.png'
            },
            {
                property: 'og:description',
                content:
                "Mohammad Mauludin Portfolio Web Developer Web Designer Website Android"
            }
        ]
    },
    data () {
        return {
            portfolios: [
                {
                    src: './assets/icon/web.png',
                    title: 'Website',
                    route: 'portfolio/website'
                },
                {
                    src: './assets/icon/android.png',
                    title: 'Android',
                    route: 'portfolio/android'
                }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
</style>
