<template>
    <v-layout row justify-center wrap class="mt-4 pt-2">
        <v-flex xs12 sm12 md5 lg6 xl6 class="mt-4 pt-2">
        <h2 class="mb-4 pl-4 pt-2">Education</h2>
        <v-card-text class="py-0">
            <v-timeline align-top dense>
            <v-timeline-item color="green" small>
                <v-layout pt-3>
                <v-flex xs4>
                    <div class="caption font-weight-bold green--text">SEP 2017 -</div>
                    <div class="caption font-weight-bold green--text">MAR 2022</div>
                </v-flex>
                <v-flex class="pl-2">
                    <strong>Institut Teknologi Adhi Tama Surabaya</strong>
                    <div class="caption mb-2">Teknik Informatika</div>
                </v-flex>
                </v-layout>
            </v-timeline-item>

            <v-timeline-item color="green" small>
                <v-layout pt-3>
                <v-flex xs4>
                    <div class="caption font-weight-bold green--text">JUN 2014 -</div>
                    <div class="caption font-weight-bold green--text">DES 2017</div>
                </v-flex>
                <v-flex class="pl-2">
                    <strong>SMKN 3 Buduran Sidoarjo</strong>
                    <div class="caption mb-2">Teknik Komputer & Jaringan</div>
                </v-flex>
                </v-layout>
            </v-timeline-item>

            <v-timeline-item color="green" small>
                <v-layout pt-3>
                <v-flex xs4>
                    <div class="caption font-weight-bold green--text">JUN 2011 -</div>
                    <div class="caption font-weight-bold green--text">JUN 2014</div>
                </v-flex>
                <v-flex class="pl-2">
                    <strong>SMPN 4 Waru Sidoarjo</strong>
                </v-flex>
                </v-layout>
            </v-timeline-item>

            <v-timeline-item color="green" small>
                <v-layout pt-3>
                <v-flex xs4>
                    <div class="caption font-weight-bold green--text">JUN 2005 -</div>
                    <div class="caption font-weight-bold green--text">JUN 2011</div>
                </v-flex>
                <v-flex class="pl-2">
                    <strong>SDN Semambung II Sidoarjo</strong>
                </v-flex>
                </v-layout>
            </v-timeline-item>
            </v-timeline>
        </v-card-text>
        </v-flex>
        <v-flex xs12 sm12 md4 lg6 xl6 class="mt-4 pt-2">
            <h2 class="mb-4 pl-4">Experience</h2>
            <v-card-text class="py-0">
                <v-timeline align-top dense>
                    <v-timeline-item color="green" small>
                        <v-layout pt-3>
                            <v-flex xs4>
                                <div class="caption font-weight-bold green--text">AUG 2018 -</div>
                                <div class="caption font-weight-bold green--text">PRESENT</div>
                            </v-flex>
                            <v-flex class="pl-2">
                                <strong>Wevelope</strong>
                                <div class="caption mb-2">Senior Website Developer</div>
                            </v-flex>
                        </v-layout>
                    </v-timeline-item>

                    <v-timeline-item color="green" small>
                        <v-layout pt-3>
                            <v-flex xs4>
                                <div class="caption font-weight-bold green--text">DEC 2017 -</div>
                                <div class="caption font-weight-bold green--text">AUG 2018</div>
                            </v-flex>
                            <v-flex class="pl-2">
                                <strong>PT. Orela Shipyard</strong>
                                <div class="caption mb-2">Hardware Development</div>
                            </v-flex>
                        </v-layout>
                    </v-timeline-item>

                    <v-timeline-item color="green" small>
                        <v-layout pt-3>
                            <v-flex xs4>
                                <div class="caption font-weight-bold green--text">JUN 2017 -</div>
                                <div class="caption font-weight-bold green--text">DEC 2017</div>
                            </v-flex>
                            <v-flex class="pl-2">
                                <strong>PT. Orela Shipyard</strong>
                                <div class="caption mb-2">IT Support(Kerja Praktik)</div>
                            </v-flex>
                        </v-layout>
                    </v-timeline-item>
                </v-timeline>
            </v-card-text>
        </v-flex>
        <v-layout row justify-center wrap class="mt-4 pt-2">
            <v-flex xs12 sm12 md4 lg5 xl5 class="mx-2 pt-4">
                <h2>
                    <span>Coding</span>
                    <span class="green--text">Skills</span>
                </h2>
                <br>
                <strong>Laravel</strong>
                <v-progress-linear v-model="buffer1" :buffer-value="bufferValue" color="green" height="16"></v-progress-linear>
                <strong>VueJS</strong>
                <v-progress-linear v-model="buffer2" :buffer-value="bufferValue" color="green" height="16"></v-progress-linear>
                <strong>AngularJS</strong>
                <v-progress-linear v-model="buffer3" :buffer-value="bufferValue" color="green" height="16"></v-progress-linear>
                <strong>Java(Desktop, Android)</strong>
                <v-progress-linear v-model="buffer4" :buffer-value="bufferValue" color="green" height="16"></v-progress-linear>
            </v-flex>
            <v-flex xs12 sm12 md4 lg5 xl5 class="mx-2 pt-4">
                <h2>
                    <span>Other</span>

                    <span class="green--text">Skills</span>
                </h2>
                <br>
                <strong>Corel Draw</strong>
                <v-progress-linear v-model="buffer6" :buffer-value="bufferValue" color="green" height="16"></v-progress-linear>
            </v-flex>
        </v-layout>
    </v-layout>
</template>

<script>
export default {
    metaInfo: {
        title: 'Resume',
        titleTemplate: "%s ← Mauludin Profile",
        meta: [
            { name: 'viewport', content: 'width=device-width, initial-scale=1' },
            {
                name: 'description',
                content:
                'Vue VueJS Laravel Angular AngularJS HTML Javascript PHP CSS MySQL MariaDB Resume Work Web Developer PT. Orela Shipyard Wevelope SMKN 3 Buduran Sidoarjo Perkapalan ITATS Institut Teknologi Adhi Tama Surabaya SMPN 4 Waru Sidoarjo SDN Semambung II Sidoarjo'
            },
            { charset: 'utf-8' },
            { property: 'og:title', content: "Mauludin Profile" },
            { property: 'og:site_name', content: "Mauludin Profile" },
            { property: 'og:type', content: 'website' },
            { property: 'og:url', content: 'https://mauludin.gitlab.io' },
            {
                property: 'og:image',
                content: './assets/img/bg.png'
            },
            {
                property: 'og:description',
                content:
                'Vue VueJS Laravel Angular AngularJS HTML Javascript PHP CSS MySQL MariaDB Resume Work Web Developer PT. Orela Shipyard Wevelope SMKN 3 Buduran Sidoarjo Perkapalan ITATS Institut Teknologi Adhi Tama Surabaya SMPN 4 Waru Sidoarjo SDN Semambung II Sidoarjo'
            }
        ]
    },
    data () {
        return {
            value: 0,
            buffer1: 0,
            buffer2: 0,
            buffer3: 0,
            buffer4: 0,
            buffer6: 0,
            bufferValue: 100,
            interval: 0
        }
    },
    mounted () {
        this.startBuffer()
    },

    beforeDestroy () {
        clearInterval(this.interval)
    },

    methods: {
        startBuffer () {
            this.interval = setInterval(() => {
                this.buffer1 = 100
                this.buffer2 = 100
                this.buffer3 = 80
                this.buffer4 = 80
                this.buffer6 = 70
            }, 800)
        }
    }
}
</script>
<style >
</style>
