<template>
    <v-container grid-list-xl>
        <h2 class="pl-4">
            <span>Competence</span>
            <span class="green--text">Certificate</span>
        </h2>
        <v-layout row justify-center align-center wrap class="mt-4 pt-2">
            <v-dialog
                v-model="image.dialog"
                lazy
                max-width="800"
                v-for="image in images"
                :key="image.title"
            >
                    <template v-slot:activator="{ on }">
                    <v-flex xs12 sm6 md4 lg4 xl4 v-on="on">
                        <v-card hover flat color="transparent">
                        <v-img
                            :src="image.poster"
                            height="230"
                            :alt="image.title"
                        >
                            <template v-slot:placeholder>
                                <v-img :src="$loading" height="200"></v-img>
                            </template>
                        </v-img>
                        <v-card-title primary-title class="justify-center">{{image.title}}</v-card-title>
                        </v-card>
                    </v-flex>
                </template>
                <v-card v-if="image.dialog">
                    <v-img :src="image.poster"></v-img>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    metaInfo: {
        title: "Competence Certificate",
        titleTemplate: "%s ← Mauludin Profile",
        meta: [
        { name: "viewport", content: "width=device-width, initial-scale=1" },
        {
            name: "description",
            content:
            "Competence Certificate Perekayasaan Jaringan Luas LSP BNSP Badan Nasional Sertifikasi Profesi Sertifikat Kompetensi Software Development Junior Programming"
        },
        { charset: "utf-8" },
        { property: "og:title", content: "Mauludin Profile" },
        { property: "og:site_name", content: "Mauludin Profile" },
        { property: "og:type", content: "website" },
        { property: "og:url", content: "https://mauludin.gitlab.io" },
        {
            property: "og:image",
            content: "./assets/img/bg.png"
        },
        {
            property: "og:description",
            content:
            "Competence Certificate Perekayasaan Jaringan Luas LSP BNSP Badan Nasional Sertifikasi Profesi Sertifikat Kompetensi Software Development Junior Programming"
        }
        ]
    },
  data() {
    return {
      dialog: false,
      images: [
        {
            dialog: false,
            title: "Perekayasaan Jaringan Luas",
            poster: "https://drive.google.com/uc?id=1J8uV4foU4aQxztpcVHmVgEwtjCQCY3he"
        },
        {
            dialog: false,
            title: "Junior Programming",
            poster: "https://drive.google.com/uc?id=1sWxwCNtjro6tdvNnGgGC75leVNk_Xe8T"
        }
      ]
    };
  }
};
</script>

<style  scoped>
</style>