<template>
  <v-container grid-list-xl>
    <h2 class="pl-4">
      <span>Research</span>
      <span class="green--text">Certificate</span>
    </h2>
    <v-layout row justify-center align-center wrap class="mt-4 pt-2">
      <v-dialog
        v-model="image.dialog"
        lazy
        max-width="800"
        v-for="image in images"
        :key="image.title"
      >
        <template v-slot:activator="{ on }">
          <v-flex xs12 sm6 md4 lg4 xl4 v-on="on">
            <v-card hover flat color="transparent">
              <v-img
                :src="image.poster"
                height="230"
                :alt="image.title"
              >
                <template v-slot:placeholder>
                    <v-img :src="$loading" height="200"></v-img>
                </template>
              </v-img>
              <v-card-title primary-title class="justify-center">{{image.title}}</v-card-title>
            </v-card>
          </v-flex>
        </template>
        <v-card v-if="image.dialog">
          <v-img :src="image.poster"></v-img>
        </v-card>
      </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
export default {
    metaInfo: {
        title: "Research Certificate",
        titleTemplate: "%s ← Mauludin Profile",
        meta: [
            { name: "viewport", content: "width=device-width, initial-scale=1" },
            {
                name: "description",
                content:
                "Research Certificate Pengembangan Teknologi Terapan Berwawasan Lingkungan Menjawab Tantangan Industri 4.0"
            },
            { charset: "utf-8" },
            { property: "og:title", content: "Mauludin Profile" },
            { property: "og:site_name", content: "Mauludin Profile" },
            { property: "og:type", content: "website" },
            { property: "og:url", content: "https://mauludin.gitlab.io" },
            {
                property: "og:image",
                content: "./assets/img/bg.png"
            },
            {
                property: "og:description",
                content:
                "Research Certificate Pengembangan Teknologi Terapan Berwawasan Lingkungan Menjawab Tantangan Industri 4.0"
            }
        ]
    },
    data() {
        return {
        dialog: false,
        images: [
            {
            dialog: false,
            title: "Peran Aplikasi Digital Sebagai Pembantu Efisiensi Kerja Perusahaan Di Era Industri 4.0",
            poster: "https://drive.google.com/uc?id=1bpCMHmPkegNF_YUAADKEWEu4GPaeYn8h"
            }
        ]
        };
    }
};
</script>

<style  scoped>
</style>