<template>
  <v-container grid-list-xl>
    <h2 class="pl-4">
      <span>Softskills</span>
      <span class="green--text">Certificate</span>
    </h2>
    <v-layout row justify-center align-center wrap class="mt-4 pt-2">
      <v-dialog
        v-model="image.dialog"
        lazy
        max-width="800"
        v-for="image in images"
        :key="image.title"
      >
        <template v-slot:activator="{ on }">
          <v-flex xs12 sm6 md4 lg4 xl4 v-on="on">
            <v-card hover flat color="transparent">
              <v-img
                :src="image.poster"
                height="230"
                :alt="image.title"
              >
                <template v-slot:placeholder>
                    <v-img :src="$loading" height="200"></v-img>
                </template>
              </v-img>
              <v-card-title primary-title class="justify-center">{{image.title}}</v-card-title>
            </v-card>
          </v-flex>
        </template>
        <v-card v-if="image.dialog">
          <v-img :src="image.poster"></v-img>
        </v-card>
      </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  metaInfo: {
        title: "Softskills Certificate",
        titleTemplate: "%s ← Mauludin Profile",
        meta: [
            { name: "viewport", content: "width=device-width, initial-scale=1" },
            {
                name: "description",
                content:
                "TEFL Professional Manner Coding Competition Perluas kehadiran online Anda dengan strategi bisnis yang tepat Web Hacking & Secure Coding Internet of Things, Big Data and Industri 4.0 How to Think in Out Box to Test an Aplication Menulis Artikel Pengabdian Kepada Masyarakat Pada Jurnal Nasional Bereputasi Rahasia Skripsi dan Penelitian Cepat Selesai Gebyar Startup Virtual 2021 Get To Know More Closely With QA Engineer Niagahoster Lite Bites 20.0: Pengenalan dan Tutorial Wireframe Website Cara Mudah Menulis Skripsi, Tesis, dan Disertasi Pengenalan Cyber Security Tingkat Pemula Kebutuhan Kompetensi Bagi SMA/Sederajat dan Training Klaster Junior Technical Support Experience IT Engineering Teknologi Informasi dan Komunikasi Dalam Menopang Kegiatan Operasional UMKM Desain dan Perancangan Landing Page Menggunakan Bootstrap 5.0 dan SASS Belajar Membuat Aplikasi Android untuk Pemula Belajar Membuat Game untuk Pemula Belajar Membangun Prototype Chatbot Dengan LINE Bot Designer Belajar Dasar Pemrograman Web Android Architecture Component Apa yang Baru di Android Studio 4.1 Baparekraf Developer Day 2021 Deployment Manager on Google Cloud Platform Kenal Lebih Dekat dengan UX Design Hack Your Hiring Process Tips and Tricks Webinar Engineering Solid Design Pattern Javascipt Modules and Current Updates Membangun Aplikasi Serverless di Platform AWS Membuat Model Machine Learning tanpa Coding Persiapan Jadi Software Engineer Hebat 101 Potensi Karier Menjadi iOS Developer di Masa Depan Tantangan Menjadi Developer di Abad 21 TechTalk2021 Peningkatan Performa Software Delivery dengan CI CD TechTalk2021 Peran IT Security dalam Penerapan DevOps Teknologi Baru Android di Google IO 2021 Web Developer From Zero to Hero Weekend Tech Talk Lets Learn Brainstorming Technique Java Programming Complete Beginner to Advanced Microsoft SQL Server for Beginners to expert PHP AJAX Bootcamp Android Game Development Crash Course For Beginners JavaScript Modern ES6 Programming with Python HandsOn Introduction for Beginners Master C# And SQL By Building Applications Flutter & Dart Development For Building iOS and Android Apps Linux Fundamentals for IT Professionals Introduction to TDD in C# Introduction to Software Testing or Software QA Cyber Security Seminar Web Design Workshop Kebutuhan Kompetensi Bagi SMA Sederajat / Mahasiswa dan Training Klaster Junior Technical Support 2022 Digital Marketing Course by Niagahoster Batch 13 and Examination2022 Digital Marketing Course by Niagahoster Batch 13 and Examination"
            },
            { charset: "utf-8" },
            { property: "og:title", content: "Mauludin Profile" },
            { property: "og:site_name", content: "Mauludin Profile" },
            { property: "og:type", content: "website" },
            { property: "og:url", content: "https://mauludin.gitlab.io" },
            {
                property: "og:image",
                content: "./assets/img/bg.png"
            },
            {
                property: "og:description",
                content:
                "TEFL Professional Manner Coding Competition Perluas kehadiran online Anda dengan strategi bisnis yang tepat Web Hacking & Secure Coding Internet of Things, Big Data and Industri 4.0 How to Think in Out Box to Test an Aplication Menulis Artikel Pengabdian Kepada Masyarakat Pada Jurnal Nasional Bereputasi Rahasia Skripsi dan Penelitian Cepat Selesai Gebyar Startup Virtual 2021 Get To Know More Closely With QA Engineer Niagahoster Lite Bites 20.0: Pengenalan dan Tutorial Wireframe Website Cara Mudah Menulis Skripsi, Tesis, dan Disertasi Pengenalan Cyber Security Tingkat Pemula Kebutuhan Kompetensi Bagi SMA/Sederajat dan Training Klaster Junior Technical Support Experience IT Engineering Teknologi Informasi dan Komunikasi Dalam Menopang Kegiatan Operasional UMKM Desain dan Perancangan Landing Page Menggunakan Bootstrap 5.0 dan SASS Belajar Membuat Aplikasi Android untuk Pemula Belajar Membuat Game untuk Pemula Belajar Membangun Prototype Chatbot Dengan LINE Bot Designer Belajar Dasar Pemrograman Web Android Architecture Component Apa yang Baru di Android Studio 4.1 Baparekraf Developer Day 2021 Deployment Manager on Google Cloud Platform Kenal Lebih Dekat dengan UX Design Hack Your Hiring Process Tips and Tricks Webinar Engineering Solid Design Pattern Javascipt Modules and Current Updates Membangun Aplikasi Serverless di Platform AWS Membuat Model Machine Learning tanpa Coding Persiapan Jadi Software Engineer Hebat 101 Potensi Karier Menjadi iOS Developer di Masa Depan Tantangan Menjadi Developer di Abad 21 TechTalk2021 Peningkatan Performa Software Delivery dengan CI CD TechTalk2021 Peran IT Security dalam Penerapan DevOps Teknologi Baru Android di Google IO 2021 Web Developer From Zero to Hero Weekend Tech Talk Lets Learn Brainstorming Technique Java Programming Complete Beginner to Advanced Microsoft SQL Server for Beginners to expert PHP AJAX Bootcamp Android Game Development Crash Course For Beginners JavaScript Modern ES6 Programming with Python HandsOn Introduction for Beginners Master C# And SQL By Building Applications Flutter & Dart Development For Building iOS and Android Apps Linux Fundamentals for IT Professionals Introduction to TDD in C# Introduction to Software Testing or Software QA Cyber Security Seminar Web Design Workshop Kebutuhan Kompetensi Bagi SMA Sederajat / Mahasiswa dan Training Klaster Junior Technical Support 2022 Digital Marketing Course by Niagahoster Batch 13 and Examination2022 Digital Marketing Course by Niagahoster Batch 13 and Examination"
            }
        ]
    },
    data() {
        return {
            dialog: false,
            images: [
                {
                    dialog: false,
                    title: "TEFL 2022",
                    poster: "https://drive.google.com/uc?id=16UOTj0jzvDPdgjLO3iK5PHilXHJ50NYo",
                },
                {
                    dialog: false,
                    title: "TEFL 2021",
                    poster: "https://drive.google.com/uc?id=10WNB9SltymjbhK4ZFBuoBMdTnKrlO3aw",
                },
                {
                    dialog: false,
                    title: "Professional Manner",
                    poster: "https://drive.google.com/uc?id=1VPL-B2R1pFbIRenM-IgirsghTNGuOw22"
                },
                {
                    dialog: false,
                    title: "Google Kickstart 2020",
                    poster: "https://drive.google.com/uc?id=1dAgQ3fd5BIdRQUFVw8NQIggUlz3eZYBb"
                },
                {
                    dialog: false,
                    title: "Perluas kehadiran online Anda dengan strategi bisnis yang tepat",
                    poster: "https://drive.google.com/uc?id=1FM_ca9OTiI-JvWSG15LbthRQh-o18opx"
                },
                {
                    dialog: false,
                    title: "Web Hacking & Secure Coding",
                    poster: "https://drive.google.com/uc?id=1bgnKuJBmwZgcVTPRsGKpHm1Q9V7lReTO"
                },
                {
                    dialog: false,
                    title: "Internet of Things, Big Data and Industri 4.0",
                    poster: "https://drive.google.com/uc?id=16wpFZjJPUhT_0sCo2jcmwlyFoFWuF-zC"
                },
                {
                    dialog: false,
                    title: "How to Think in Out Box to Test an Aplication",
                    poster: "https://drive.google.com/uc?id=1ns9sRXVm7pxH5E61x_eLAibXoGFa2a5E"
                },
                {
                    dialog: false,
                    title: "Menulis Artikel Pengabdian Kepada Masyarakat Pada Jurnal Nasional Bereputasi",
                    poster: "https://drive.google.com/uc?id=1Atp-cXA6cgntItHLzTI6rKaEqGAdjcCP"
                },
                {
                    dialog: false,
                    title: "Rahasia Skripsi dan Penelitian Cepat Selesai",
                    poster: "https://drive.google.com/uc?id=1lQ6V5JKzN4dzj4SboZ06ImENgM-s2sFn"
                },
                {
                    dialog: false,
                    title: "Gebyar Startup Virtual 2021",
                    poster: "https://drive.google.com/uc?id=1yj5yowrIGdld-aD2AMHvPM35uLbNTc-8"
                },
                {
                    dialog: false,
                    title: "Get To Know More Closely With QA Engineer",
                    poster: "https://drive.google.com/uc?id=1Rl4cGn8I1blzn0jmt-IBYDyajf0OaO6Z"
                },
                {
                    dialog: false,
                    title: "Niagahoster Lite Bites 20.0: Pengenalan dan Tutorial Wireframe Website",
                    poster: "https://drive.google.com/uc?id=1pgL0z1TFbDzkbKgYD4Qj7ISZLjx8yQp5"
                },
                {
                    dialog: false,
                    title: "Cara Mudah Menulis Skripsi, Tesis, dan Disertasi",
                    poster: "https://drive.google.com/uc?id=1oQTZVmRk9jd7I10CXqAR05mKXne3mYGL"
                },
                {
                    dialog: false,
                    title: "Pengenalan Cyber Security Tingkat Pemula",
                    poster: "https://drive.google.com/uc?id=1Mk5eovUQVrR2DETs6XMhwdx8z1gQ78fq"
                },
                {
                    dialog: false,
                    title: "Kebutuhan Kompetensi Bagi SMA/Sederajat dan Training Klaster Junior Technical Support",
                    poster: "https://drive.google.com/uc?id=1WCTI6Z7-kZKN1KyYwYXpdE12oXDWu7Bj"
                },
                {
                    dialog: false,
                    title: "Experience IT Engineering",
                    poster: "https://drive.google.com/uc?id=1z-r059WADprNxvVNeXNoOkZQme7XcOgz"
                },
                {
                    dialog: false,
                    title: "Teknologi Informasi dan Komunikasi Dalam Menopang Kegiatan Operasional UMKM",
                    poster: "https://drive.google.com/uc?id=1RCXbsQ8yceR2Z4nX7vuzzmHI-DM7EhnU"
                },
                {
                    dialog: false,
                    title: "Desain dan Perancangan Landing Page Menggunakan Bootstrap 5.0 dan SASS",
                    poster: "https://drive.google.com/uc?id=1hxfagzi8jYHKkVXhRkhxyUC5zlnKmdzp"
                },
                {
                    dialog: false,
                    title: "Belajar Membuat Aplikasi Android untuk Pemula",
                    poster: "https://drive.google.com/uc?id=1vHHZDgkvA4KAfhYaK2IFFnWjUdrLwkzb"
                },
                {
                    dialog: false,
                    title: "Belajar Membuat Game untuk Pemula",
                    poster: "https://drive.google.com/uc?id=1Q5jZgAMs6Bn_XQHLS_FRV6atHDCcVCOl"
                },
                {
                    dialog: false,
                    title: "Belajar Membangun Prototype Chatbot Dengan LINE Bot Designer",
                    poster: "https://drive.google.com/uc?id=1_WAVAICHZ5_-6rSVPAdGFwgg6odtkkye"
                },
                {
                    dialog: false,
                    title: "Belajar Dasar Pemrograman Web",
                    poster: "https://drive.google.com/uc?id=1g8AYesJ8IM9D-PHqez_7FjjP6hXLZ4x7"
                },
                {
                    dialog: false,
                    title: "Android Architecture Component",
                    poster: "https://drive.google.com/uc?id=1QMKhpq1x_Q4x43PtIMhJYaRI_vaRnvb5"
                },
                {
                    dialog: false,
                    title: "Apa yang Baru di Android Studio 4.1",
                    poster: "https://drive.google.com/uc?id=1FzlCigWyYz03d3JMPIY5PLYnfJr-wz4Z"
                },
                {
                    dialog: false,
                    title: "Baparekraf Developer Day 2021",
                    poster: "https://drive.google.com/uc?id=1dF9XVIjhPfgeqccyqT5PQSP-jh24Wpsk"
                },
                {
                    dialog: false,
                    title: "Deployment Manager on Google Cloud Platform",
                    poster: "https://drive.google.com/uc?id=1jLd_sL58qPpNFQaTC2VtQ5APCZ5fezLG"
                },
                {
                    dialog: false,
                    title: "Kenal Lebih Dekat dengan UX Design",
                    poster: "https://drive.google.com/uc?id=1xwYrA2QhjZVNfvE2Y_Y_ufpzD3n_iF0M"
                },
                {
                    dialog: false,
                    title: "Hack Your Hiring Process: Tips & Tricks",
                    poster: "https://drive.google.com/uc?id=1Rh-SM40nMqi_KnK83sJ-J4rJKhAYcmTe"
                },
                {
                    dialog: false,
                    title: "Webinar Engineering Solid Design Pattern & Javascipt Modules and Current Updates",
                    poster: "https://drive.google.com/uc?id=1Lii9JAMRAVDzF5tmmSCWBOqBH_ykVsG-"
                },
                {
                    dialog: false,
                    title: "Membangun Aplikasi Serverless di Platform AWS",
                    poster: "https://drive.google.com/uc?id=1No5ibGJ2zFfqeaAmlLkbuams7hRJ9maw"
                },
                {
                    dialog: false,
                    title: "Membuat Model Machine Learning tanpa Coding",
                    poster: "https://drive.google.com/uc?id=1l4fcFq6bV_1EivqMZMKae4HnvWp7X7wx"
                },
                {
                    dialog: false,
                    title: "Persiapan Jadi Software Engineer Hebat 101",
                    poster: "https://drive.google.com/uc?id=13b-epbgGhdjVd1Z43gj41ej0AIXZJBjl"
                },
                {
                    dialog: false,
                    title: "Potensi Karier Menjadi iOS Developer di Masa Depan",
                    poster: "https://drive.google.com/uc?id=1TtjZepljot6Eo5TrsRxRAm0MPVgumNaA"
                },
                {
                    dialog: false,
                    title: "Tantangan Menjadi Developer di Abad 21",
                    poster: "https://drive.google.com/uc?id=1HMv5Sbt6pDbvKT0KYoD53irMEMAU6LST"
                },
                {
                    dialog: false,
                    title: "TechTalk2021: Peningkatan Performa Software Delivery dengan CI/CD",
                    poster: "https://drive.google.com/uc?id=1Oj7qaIlaI8WgHwvdT8gzGlOK8xgpkX4t"
                },
                {
                    dialog: false,
                    title: "TechTalk2021: Peran IT Security dalam Penerapan DevOps",
                    poster: "https://drive.google.com/uc?id=13WbCwwjCBjFmncLVF0gMHVcZbsFa6-m_"
                },
                {
                    dialog: false,
                    title: "Teknologi Baru Android di Google I/O 2021",
                    poster: "https://drive.google.com/uc?id=1OEd-crHkJqYrPxSbZP77bbyfNXQDtnRC"
                },
                {
                    dialog: false,
                    title: "Web Developer From Zero to Hero",
                    poster: "https://drive.google.com/uc?id=1GPNHVOT-01315kI-6zFKIGjPa07Lz7QR"
                },
                {
                    dialog: false,
                    title: 'Weekend Tech Talk "' + "Let's" + ' Learn Brainstorming Technique"',
                    poster: "https://drive.google.com/uc?id=1vYqo-aQEdYo4y1R3KMhbLgfafL1JRs4A"
                },
                {
                    dialog: false,
                    title: "Java Programming: Complete Beginner to Advanced",
                    poster: "https://drive.google.com/uc?id=14FaZH4SG0zsbjI4PkPi96Yt6nnu5R2Yd"
                },
                {
                    dialog: false,
                    title: "Microsoft SQL Server for Beginners to expert",
                    poster: "https://drive.google.com/uc?id=11SI4YZXaF3Lf-qeHsbYjIGdMIe9ERB-U"
                },
                {
                    dialog: false,
                    title: "PHP AJAX Bootcamp",
                    poster: "https://drive.google.com/uc?id=1XFjVGcPzISCVew19bN3R_D7Mz1erVoBs"
                },
                {
                    dialog: false,
                    title: "Android Game Development Crash Course For Beginners",
                    poster: "https://drive.google.com/uc?id=1RSIjGz3BUTYM65WQK_w-jQ4DPp-vNxsT"
                },
                {
                    dialog: false,
                    title: "JavaScript Modern ES6 - 2020 - The Complete Course",
                    poster: "https://drive.google.com/uc?id=1WGh6oxqvPnc8pZQQLHK2Bp6scWuXB8zB"
                },
                {
                    dialog: false,
                    title: "Programming with Python : HandsOn Introduction for Beginners",
                    poster: "https://drive.google.com/uc?id=1mULvFun8LpnUCz_3wHBlV-cgHsDU1Pp3"
                },
                {
                    dialog: false,
                    title: "Master C# And SQL By Building Applications",
                    poster: "https://drive.google.com/uc?id=1zdnJVhhrsdips1v54UNxJxuxZzwIjoDz"
                },
                {
                    dialog: false,
                    title: "Flutter & Dart Development For Building iOS and Android Apps",
                    poster: "https://drive.google.com/uc?id=11USSqm9AVebA-3rt-TFBnXIvpklv6DA8"
                },
                {
                    dialog: false,
                    title: "Linux Fundamentals for IT Professionals",
                    poster: "https://drive.google.com/uc?id=1HICuBzYLjfutSVfqvo8IYfW0AzVVOU8p"
                },
                {
                    dialog: false,
                    title: "Introduction to TDD in C#",
                    poster: "https://drive.google.com/uc?id=14H0fH7LNYd3-4sRE7-mo7PgjrlHmEqEx"
                },
                {
                    dialog: false,
                    title: "Introduction to Software Testing or Software QA",
                    poster: "https://drive.google.com/uc?id=18CQoTCb-In2OjV2pWKUmYg59HXLeJh_V"
                },
                {
                    dialog: false,
                    title: "Cyber Security",
                    poster: "https://drive.google.com/uc?id=1d9tP82Ng4NKQvxfR11RPXbe8g3dj-0vI"
                },
                {
                    dialog: false,
                    title: "Seminar Web Design",
                    poster: "https://drive.google.com/uc?id=1u1GFJ66M3rBMU8zMsgbWlMAy0Jhr4-YS"
                },
                {
                    dialog: false,
                    title: "Workshop Kebutuhan Kompetensi Bagi SMA Sederajat / Mahasiswa dan Training Klaster Junior Technical Support",
                    poster: "https://drive.google.com/uc?id=1oZ6GZ1_tqp-uvKvcqm3zQebEkQue--Ek"
                },
                {
                    dialog: false,
                    title: "2022 Digital Marketing Course by Niagahoster Batch 13 and Examination",
                    poster: "https://drive.google.com/uc?id=1eMLIjYbuB1ep9Ozeg22xGqoAZoDYms2v"
                },
            ]
        };
    }
};
</script>

<style  scoped>
</style>